/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f8f9fa;
    line-height: 1.6;
}

/* Sidebar Styles */
.stSidebar {
    background-color: #81abda;
}

.stSidebar h1, .stSidebar h2, .stSidebar h3, .stSidebar h4, .stSidebar h5, .stSidebar h6 {
    color: white;
    font-weight: bold;
}

.stSidebar .stButton, .stSidebar .stSelectbox {
    margin: 15px 0;
}

/* Main Header */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 3rem;
    color: #3498db;
}

h3 {
    color: #2980b9;
    margin-bottom: 1.5rem;
}

/* Button Styles */
.stButton button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.stButton button:hover {
    background-color: #2980b9;
    cursor: pointer;
}

/* Progress Bar */
.stProgress .stMarkdownContainer {
    background-color: #ecf0f1;
    border-radius: 50px;
    overflow: hidden;
}

.stProgress .stMarkdownContainer .stMarkdown {
    background-color: #3498db;
}

/* Card Styles */
.project-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: translateY(-10px);
}

.project-card .project-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.project-card .project-header h3 {
    color: #3498db;
    margin: 0;
}

.project-link {
    display: inline-block;
    padding: 10px 15px;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.project-link:hover {
    background-color: #2980b9;
}

/* Lottie Animation Styles */
.stLottieAnimation {
    margin-top: 20px;
}

/* Contact Info Styles */
.contact-info p {
    font-size: 18px;
    color: #7f8c8d;
    margin-bottom: 10px;
}

.contact-info i {
    color: #3498db;
    margin-right: 10px;
}

.contact-info a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-info a:hover {
    color: #2980b9;
}

/* Form Styles */
.stTextInput input, .stTextArea textarea {
    border: 1px solid #3498db;
    padding: 10px;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.stTextInput input:focus, .stTextArea textarea:focus {
    border-color: #2980b9;
    outline: none;
}

/* Footer */
.stSidebar .stMarkdownContainer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
}

.stSidebar .stInfo {
    background-color: #2c3e50;
    color: white;
}
